.reset-container {
  min-height: 100vh;
  background: linear-gradient(120deg, #fdfbfb, #ebedee);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-box {
  width: 380px;
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.reset-box h2 {
  text-align: center;
  margin-bottom: 10px;
}

.reset-subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.reset-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.reset-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.reset-box button:hover {
  background: #059669;
}

.reset-message {
  margin-top: 15px;
  text-align: center;
  color: #10b981;
  font-size: 14px;
}

.reset-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.reset-footer span {
  color: #2563eb;
  cursor: pointer;
}
