.home-container {
  min-height: 100vh;
  background: #f9fafb;
}

/* Navbar */
/* .navbar {
  height: 60px;
  background: #111827;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
} */

.logo {
  font-size: 20px;
}



/* Content */
.home-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.home-content p {
  color: #555;
  margin-bottom: 30px;
  font-size: 25px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 8px;
}
